@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Open+Sans:wght@300;400&display=swap');
@import "reset";

body {
  //background: url('../images/bg-paper-5.jpg') repeat left top / cover;
  background: #faf3f2;
  color: #222222;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

main {
  background: url(../images/white-wall-bg.webp) repeat;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  text-align: center;
  width: 300px;
  height: 100px;
  border: 10px solid hsla(0, 0%, 100%, .75);
  background: rgba(255, 255, 255, 0.35);
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: 'Caudex', serif;
  font-weight: 700;
  color: #247881;
}

h1 {
  font-size: 3.5rem;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

p {
  font-weight: 300;
}

section {
  padding: 15px;
  text-align: center;

  h2 {
    font-size: 22px;
    font-weight: 700;
  }

  @media screen and (min-width: 1024px) {
    padding: 25px;

    h2 {
      font-size: 28px;
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 50px;

    h2 {
      font-size: 32px;
    }
  }
}

.feature {
  width: 100%;
  height: 90vh;
  background: url(../images/Domes-mosque-Malaysia.webp) no-repeat center / cover;

  .welcome-note {
    background: rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb);
    max-width: 70%;
    width: 100%;
    height: 35%;
    margin: 0 auto;
    position: relative;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 42px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    left: 0;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      padding: 10px;
      color: #247881;
      text-shadow: 2px 2px 3px rgb(36 120 129 / 50%);
    }

    p {
      padding: 2px;
      font-size: 18px;
      font-weight: 400;
    }

    @media screen and (min-width: 1024px) {
      font-size: 2.5rem;
      max-width: 550px;
      padding: 15px;
      position: absolute;
      top: 20%;
      left: 5%;
    }

    @media screen and (min-width: 1439px) {
      font-size: 3rem;
      padding: 25px;
    }
  }

  .islamic-date {
    position: absolute;
    top: 0%;
    right: 5%;
    font-size: 14px;
    font-weight: 400;
    color: #faf3f2;
    height: auto;
    width: auto;
    text-align: left;
    box-shadow: 10px 10px 22px 0 rgba(0, 0, 0, 0.55);
    padding: 10px;
    display: flex;
    align-items: center;
    margin: auto;

    @media screen and (min-width:1024px) {
      font-size: 16px;
    }
  }
}


.prayer-times {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0 auto;

  .prayer {
    color: white;
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 0;

    >* {
      flex: 0 1 100%;
    }

    h3 {
      padding: 10px 0;
      color: #247881;
      // text-shadow: 0px 0px 6px #247881;
      font-weight: 700;
      font-size: 20px;
    }

    &.fajr {
      background: #FF5F6D;
      background: linear-gradient(to top, #FFC371, #FF5F6D);

    }

    &.dhuhr {
      background: #F2994A;
      background: linear-gradient(to top, #F2C94C, #F2994A);

    }

    &.asr {
      background: #22c1c3;
      background: linear-gradient(to top, #fdbb2d, #22c1c3);

    }

    &.maghrib {
      background: #ff7e5f;
      background: linear-gradient(to top, #feb47b, #ff7e5f);

    }

    &.isha {
      background: #4B79A1;
      background: linear-gradient(to top, #283E51, #4B79A1);

    }

    .time {
      padding: 0 0 10px 0;
    }
  }

  @media screen and (min-width: 990px) {
    height: 500px;
    width: 660px;

    .prayer {
      flex: 0 1 20%;
      flex-flow: wrap;
      align-content: center;
    }
  }
}

.news-events-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  .news-events {
    flex: 0 1 100%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;

    .date-time {
      flex: 0 1;
      display: inline-flex;
      flex-flow: row wrap;
      border-right: solid 2px #222222;
      padding-inline: 10px;
      text-align: left;

      >div {
        padding-block: 2px;
        flex: 0 1 100%;
      }

      .day {
        font-size: 1.5em;
        color: #247881;

      }
    }

    .news-events-header {
      flex: 0 1 75%;
      text-align: left;
      padding-left: 10px;

      h3 {
        font-size: 1.3em;
      }
    }

    .news-events-content {
      flex: 0 1 100%;
      padding: 10px;
      text-align: left;
      font-size: 14px;
      line-height: 1.25;
      letter-spacing: 0.05em;
    }
  }

  @media screen and (min-width: 990px) {
    flex-flow: row wrap;
    align-content: flex-start;

    .news-events {
      flex: 0 1 50%;
    }
  }
}

#contact-us {
  max-width: 420px;
  margin: 1em auto;

  .feedback-input {
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #247881;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;

    &:focus {
      border: 2px solid #CC4949;
    }
  }



  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }

  [type="submit"] {
    width: 100%;
    background: #247881;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;

    &:hover {
      background: #CC4949;
    }
  }

}